* {
    font-family: sans-serif;
}
header {
    font-size: 30px;
    color:rgb(220,95,67);
    text-align: center;
}

.desc {
    display: inline-block;
    position: relative;
    top:30px;
    left:10px;
    font-size: 16px;
    margin:0;
    padding: 5px 10px;
    color:white;
    border-radius: 5px;
    background-color: rgb(220,95,67);
}

p {
    position:relative;
    left: 40px;

    width:90%;
    font-size: 20px;
}

img {
    width:100%;    
}

a:link, a:visited, a:hover, a:active {
    float:left;
    display: inline-block;
    position: relative;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    margin:0;
    padding: 7px 20px;
    color:white;
    border-radius: 5px;
    background-color: rgb(220,95,67);
    text-decoration: none;
}


.committee-grid{
  display: inline-block;
  margin-bottom: 30px;
}

.single-cell {
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  color: #707070;
  display: inline-block;
  margin-top: 10px;
  margin-right: 30px;
  margin-bottom: 10px;
  vertical-align: top;
  height: 500px;
}

.committee-img{
  float: left;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 200px;
  width: 350px;
}

.committee-content{
    float: right ;
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 1.3px;
  width : 260px;
}
.media > .pull-left {
  margin-right: 20px;
}